@font-face {
  font-family: 'Adobe Caslon Pro';
  src: url('/fonts/ACaslonPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/ACaslonPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/ACaslonPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/ACaslonPro-Regular.svg#66be995022d6f507f528f15386d1e64f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}