@import 'h5bp';
@import 'normalize';
@import 'fonts';


/* ==========================================================================
   Sass Variables
   ========================================================================== */
// general
$primary-color: #a25617;
$secondary-color: #e5c8a8;

// document
$base-font-size: 16px;
$background-color: $secondary-color;

$primary-font: 'Adobe Caslon Pro', helvetica, sans-serif;
$secondary-font: Helvetica, sans-serif;

$primary-text-color: #000;
$secondary-text-color: #58595b;

// header
$header-gradient-dark: $primary-color;
$header-gradient-light: lighten($primary-color, 10%);
$nav-text-color: #fff;

/* ==========================================================================
   Sass Functions
   ========================================================================== */
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

/* ==========================================================================
   Custom Styles
   ========================================================================== */

//--- General
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-size: $base-font-size;
  background-color: $background-color;
  height: 100%;
  width: 100%;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

// lobotomized owl: * + *
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
p + * {
  margin: em(16px) 0;
}

section + * {
  margin-top: em(40px);
}

// special classes
.one-half {
  width: 50%;
}
.one-third {
  width: 33%;
}
.two-third {
  width: 66%;
}
.one-half,
.one-third,
.two-third {
  float: left;
  padding: em(16px);
}

//--- Specific stuff...
.container {
  width: em(1080px); 
  margin: 0 auto;
  padding: 0 em(70px) em(50px);
  background-color: #fff;
}

.container--inner {
  line-height: 2;
  font-weight: bold;
}

// header
.header {
  height: em(100px);
  min-width: em(1080px);
  background: $header-gradient-light;
  background: -moz-linear-gradient(
    left,   
    $header-gradient-dark 0%, 
    $header-gradient-light 45%, 
    $header-gradient-light 55%, 
    $header-gradient-dark 100%
  );
  background: -webkit-gradient(
    linear, left top, right top, 
    color-stop(0%,$header-gradient-dark), 
    color-stop(45%,$header-gradient-light), 
    color-stop(55%,$header-gradient-light), 
    color-stop(100%,$header-gradient-dark)
  );
  background: linear-gradient(
    to right,  
    $header-gradient-dark 0%,
    $header-gradient-light 45%,
    $header-gradient-light 55%,
    $header-gradient-dark 100%
  );
}

.header--wrap {
  width: em(1080px);
  height: 100%;
  margin: 0 auto;
  position: relative;

}

.header--navigation ul {
  position: absolute;
  right: 0;
  bottom: 0;
  float: left;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.header--navigation ul a {
  text-decoration: none;
  padding: 0 em(23px);
  color: $nav-text-color;
}
.header--navigation ul li + li:before {
  content: '|';
  color: $nav-text-color;
  position: absolute;
  left: -1px;
}
.header--navigation ul li {
  position: relative;
  text-transform: uppercase;
  float: left;
  margin: 0;
  padding: em(15px, 15px) 0;
  font-size: em(15px);

  &:hover {
    background: lighten($secondary-color, 15%);
  }

  &:hover a {
    color: $secondary-text-color;
  }

  &:hover > ul {
    display: block;
    color: $secondary-text-color;
  }
}
.header--navigation ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}
.header--navigation ul ul li {
  float: none;
  width: em(275px);
  text-transform: none;
  background: lighten($secondary-color, 15%);
  padding: em(10px) 0;

  &:before {
    content: '';
  }

  &:hover {
    background: darken($secondary-color, 3%);
  }
}
.header--navigation ul ul a {
  line-height: 120%;
}
.header--navigation ul ul ul {
  top: 0;
  left: 100%;
}

.header--logo {
  color: #fff;
  position: absolute;
  left: em(40px);
  bottom: em(10px);

  span {
    display: block;
    padding-top: em(5px);
    font-family: $primary-font;
    font-size: em(52px);
    font-weight: bold;
    letter-spacing: em(1px);
    text-shadow: em(1px) em(1px) em(2px) #000;  
    text-transform: uppercase;
    top: em(5px);
    position: relative;
  }

  span + span {
    display: block;
    font-size: em(16px);
    font-family: $secondary-font;
    letter-spacing: 0;
    text-shadow: none;  
    font-weight: normal;
    left: em(120px);
    top: auto;
    letter-spacing: em(3px);
  }
}


.hero--logo {
  float: left;
}

.hero--tag {
  color: #5d5d60;
  font-size: 1.35em;
  font-weight: normal;
  position: relative;
  left: em(-20px);
  top: em(10px);
}

.hero--headline {
  margin: 0;
  font-size: em(50px);
  font-family: $primary-font;
  font-weight: lighter;
  line-height: 1;
  color: $header-gradient-light;
  text-align: center;
  padding-top: em(30px, 50px);
}

.hero--headline__inner {
  text-align: left;
}

.hero--slideshow {
  img {
    border-radius: em(40px);
  }
}


.home {
  color: $secondary-text-color;
  img {
    border-radius: em(20px);
  }
}

.home--block {
  width: em(370px); 
  float: left;

  .one-half {
    padding-right: em(10px);
  }
}

.home--block__images img,
.showcase img {
  border-radius: 50%;
  border: em(8px) solid $secondary-text-color;
  box-shadow: em(5px) em(5px) em(5px) 0 #ccc;
}

.showcase img {
  margin: 0 em(5px);
}

.home--block__images {
  width: em(200px);
  float: left;
  margin-top: em(-20px);
  
  .one-half {
    padding: em(2.5px);
  }
}

.logo-text {
  height: em(130px);
  width: 100%;
  border-radius: 20px;
  background: #0173a7;
  background: -moz-linear-gradient(left,  #0173a7 0%, #63a4c0 50%, #0173a7 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0173a7), color-stop(50%,#63a4c0), color-stop(100%,#0173a7));
  background: linear-gradient(to right,  #0173a7 0%,#63a4c0 50%,#0173a7 100%);
  img {
    float: left;
    border-radius: 20px 0 0 20px;
  }
  p {
    color: white;
    font-family: "Adobe Caslon Pro", helvetica, sans-serif;
    font-weight: lighter;
    font-size: em(45px);
    line-height: 1;
    text-align: center;
    padding-top: em(8px);
  }
}

.showcase {
  h2 {
    color: #58595b;
  }
}

.order-now {
  display: inline-block;
  text-transform: uppercase;
  color: #58595b;
  font-size: 1.25em;
  line-height: 1.5;
  margin-left: em(15px);
  vertical-align: middle;
  font-weight: lighter;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: em(35px) 0 em(35px) em(30px);
    border-color: transparent transparent transparent #cf6e1d;
    left: 110%;
    top: 0;
  }
}
