@import 'h5bp';
@import 'normalize';


/* ==========================================================================
   Sass Variables
   ========================================================================== */
// general
$primary-color: #b66c1b;
$secondary-color: #e5c8a8;

// document
$base-font-size: 16px;
$background-color: $secondary-color;

$primary-text-color: #000;
$secondary-text-color: #58595b;

// header
$header-gradient-light: #9d4c0a;
$header-gradient-dark: $primary-color;
$nav-text-color: #fff;

/* ==========================================================================
   Sass Functions
   ========================================================================== */
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

/* ==========================================================================
   Custom Styles
   ========================================================================== */

//--- General
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: $base-font-size;
  background-color: $background-color;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
}

// lobotomizing
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
p + * {
  margin: 1em;
}

section + * {
  margin-top: em(40px);
}

// special classes
.one-half {
  width: 50%;
}
.one-third {
  width: 33%;
}
.one-half,
.one-third {
  float: left;
}

//--- Specific stuff...
.container {
  width: em(1080px); 
  margin: 0 auto;
  padding: 0 em(70px);
  background-color: #fff;
}

// header
.header {
  height: em(100px);
  background: $header-gradient-light;
  background: -moz-linear-gradient(left,  $header-gradient-light 0%, $header-gradient-dark 45%, $header-gradient-dark 55%, $header-gradient-light 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$header-gradient-light), color-stop(45%,$header-gradient-dark), color-stop(55%,$header-gradient-dark), color-stop(100%,$header-gradient-light));
  background: -webkit-linear-gradient(left,  $header-gradient-light 0%,$header-gradient-dark 45%,$header-gradient-dark 55%,$header-gradient-light 100%);
  background: -o-linear-gradient(left,  $header-gradient-light 0%,$header-gradient-dark 45%,$header-gradient-dark 55%,$header-gradient-light 100%);
  background: -ms-linear-gradient(left,  $header-gradient-light 0%,$header-gradient-dark 45%,$header-gradient-dark 55%,$header-gradient-light 100%);
  background: linear-gradient(to right,  $header-gradient-light 0%,$header-gradient-dark 45%,$header-gradient-dark 55%,$header-gradient-light 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$header-gradient-light', endColorstr='$header-gradient-dark',GradientType=1 );
}

.navigation {
  display: block;
  width: em(1080px);
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.navigation ul {
  position: absolute;
  right: 0;
  bottom: em(10px);
  float: left;
  margin: 0 auto;
  padding: 0;
}

.navigation ul a {
  text-decoration: none;
  padding: 0 em(15px);
  color: $nav-text-color;
}

.navigation ul li + li:before {
  content: '|';
  color: $nav-text-color;
}

.navigation ul li {
  position: relative;
  text-transform: uppercase;
  float: left;
  margin: 0;
  padding: 0;
}

.navigation ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

.navigation ul ul li {
  float: none;
  width: em(250px);
  text-transform: lowercase;
}

.navigation ul ul a {
  line-height: 120%;
}

.navigation ul ul ul {
  top: 0;
  left: 100%;
}

.navigation ul li:hover > ul {
  display: block;
}

.hero--logo {
  float: left;
}
.hero--headline {
  margin: 0;
  color: $primary-color;
  text-align: center;
  padding-top: em(16px);
}
.hero--slideshow {
  img {
    border-radius: em(40px);
  }
}


.home {
  color: $secondary-text-color;
  img {
    border-radius: em(20px);
  }
}
.home--block {
  width: em(370px); 
  float: left;

  .one-half {
    padding-right: em(10px);
  }
}
.home--block__images {
  width: em(200px);
  float: left;
  margin-top: em(-20px);
  
  .one-half {
    padding: em(2.5px);
  }
  
  img {
    border-radius: 50%;
    border: em(8px) solid $secondary-text-color;
    box-shadow: em(5px) em(5px) em(5px) 0 #ccc;
  }
}
